.todo-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #e4e5f1;
  padding: 8px 4px;
}

.edit-btn-container{
  margin-left: auto;
  margin-right: 8px;
}

.todo-title{
  margin-left: 12px;
  max-width: 400px;
}

.todo-title.completed{
  text-decoration: line-through;
  color: #a9a9a9;
}

.edit-btn{
  background-color: #c77dff;
  color: #eee;
}

.done-btn{
  background-color: #4dcaa6;
  color: #eee;
}

.delete-btn{
  background-color: #d88c9a;
  color: #eee;
}

.title-input ,.title-input:focus{
  outline: 0;
  border: 0;
}

.check-box{
  cursor: pointer;
  accent-color: #4c956c;
}



