.todo-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #e4e5f1;
  padding: 8px 4px;
}

.edit-btn-container{
  margin-left: auto;
  margin-right: 8px;
}

.todo-title{
  margin-left: 12px;
  max-width: 400px;
}


