<li class="todo-item">
    <input
      class="check-box"
      type="checkbox"
      [(ngModel)]="todo.isCompleted"
      (change)="updateTodo()">

    <div
      class="todo-title"
      *ngIf="!editing; else editingTodo"
      [ngClass]="{completed: todo.isCompleted}">
      {{todo.title}}
    </div>

    <ng-template #editingTodo>
        <input
          class="todo-title title-input"
          type="text"
          [(ngModel)] = "todo.title"
          autofocus>
    </ng-template>

    <div class="edit-btn-container" *ngIf="!editing; else doneBtn" >
      <button
        [ngClass]="{disabled: todo.isCompleted}"
        class="btn edit-btn"
        (click)="editStart()"
        [disabled]="todo.isCompleted">
          Edit
      </button>
    </div>

    <ng-template #doneBtn>
    <div class="edit-btn-container">
        <button
          class="btn done-btn"
          (click)="editDone();" >
            Done
          </button>
    </div>
    </ng-template>

    <div>
        <button
          class="btn delete-btn"
          (click)="deleteTodo()">
            Delete
          </button>
    </div>
</li>
